.body {
  font-family: 'Fresca', sans-serif; }

.header_button, .section_banner_button {
  display: inline-block;
  min-width: 150px;
  padding: 15px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #e3ac00;
  height: 50px;
  cursor: pointer; }
  .header_button:hover, .section_banner_button:hover {
    opacity: 0.8;
    transition: all 0.3s ease-in-out; }

.login {
  margin-left: 150px;
  font-size: 20px;
  color: #fff; }
  .login:hover {
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
    color: red; }

.highlighter {
  background: #ff4e33; }

.header {
  background-color: #80007a;
  background-image: url(../img/m-h-night.jpg);
  background-size: cover;
  background-position: 50%;
  border-bottom-right-radius: 50%; }

.header-wrap {
  max-width: 1570px;
  margin: 0 auto;
  padding: 0 15px;
  min-height: 700px; }

.landing-logo {
  display: flex;
  align-items: center; }
  .landing-logo img {
    margin-right: 20px;
    width: 50px;
    height: 50px; }
  .landing-logo p {
    font-size: 24px;
    color: #fff; }
    .landing-logo p span {
      font-size: 14px;
      display: table; }

.header_heading {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 60px;
  width: 450px; }

.header_text {
  color: #fff;
  font-size: 16px;
  margin-bottom: 65px;
  white-space: pre-line; }

main {
  background-color: #21232e;
  position: relative; }

.section_text {
  font-size: 35px;
  text-align: center;
  color: #fff; }

.section_card_wrap {
  max-width: 1210px;
  margin: 0 auto 180px;
  padding: 0 15px; }

.section_card {
  display: flex;
  flex-wrap: wrap;
  background-color: #3b3f50;
  margin-bottom: 30px;
  padding: 15px;
  align-items: center; }

.section_card_img {
  display: block;
  width: 430px;
  height: 290px;
  border-radius: 10px; }

.section_card_right_container {
  text-align: center;
  width: calc(100% - 430px); }

.section_card_heading {
  font-size: 21px;
  color: #fff;
  margin-bottom: 50px; }

.section_card_text, .section_link, .section_banner_text {
  font-size: 16px;
  color: #c0c3ce; }

.section_link:hover {
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
  color: red; }

.section_banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
  min-height: 150px;
  background: linear-gradient(90deg, #dea405 0%, #953051 100%);
  border-radius: 5px;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); }

.section_banner_heading {
  font-size: 24px;
  color: #fff; }

.footer {
  background-color: #3b3f50; }

.footer-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1570px;
  margin: 0 auto;
  padding: 130px 15px 60px; }

.footer_text {
  display: block;
  width: 300px;
  font-size: 14px;
  color: #c0c3ce;
  word-wrap: break-word; }

.footer_logo p {
  font-size: 24px;
  color: #d1d1d1; }

.footer-cr {
  font-size: 16px;
  color: #d1d1d1; }
