// Write your styles here

.header {
    background-color: $contentBackground;
    background-image: $background-image;
    background-size: cover;
    background-position: 50%;
    border-bottom-right-radius: 50%;
}

.header-wrap {
    max-width: 1570px;
    margin: 0 auto;
    padding: 0 15px;
    min-height: 700px;
    border: 1px solid rgb(255, 81, 0);
}

.landing-logo {
    display: flex;
    align-items: center;

    img {
        margin-right: 20px;
        width: 50px;
        height: 50px;
    }

    p {
        font-size: 24px;
        color:$text-primarycolor;

        span {
            font-size: 14px;
            display: table;
        }
    }
}

.header_heading {
    font-size: 50px;
    font-weight: bold;
    color: $text-primarycolor;
    margin-bottom: 60px;
    white-space: pre-line;
}

.header_text {
    color: $text-primarycolor;
    font-size: 16px;
    margin-bottom: 65px;
    white-space: pre-line;
}

@mixin button-styles {
    display: inline-block;
    min-width:150px;
    padding: 15px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: $btn-color;
    margin:0 155px 175px 0;
}

.header_button, .section_banner_button {
    @include button-styles;
}

main {
    background-color: $main-bg-color;
}

.section_text {
    font-size: 35px;
    text-align: center;
    color: $text-primarycolor;

    p::last-word {
        background-color: #14a0c7;
    }
}

.section_card_wrap {
   max-width: 1210px;
   margin:0 auto;
   padding: 0 15px;
   border: 1px solid rgb(0, 255, 149); 
}

.section_card {
    display: flex;
    flex-wrap: wrap;
    background-color: $primarycolor;
    margin-bottom: 30px;
    padding: 15px;
}

.section_card_img {
    display: block;
    width: 430px;
    height:290px;
    border-radius: 10px;
}

.section_card_right_container {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    text-align: center;
    width: calc(100% - 430px);
}

.section_card_heading {
    font-size: 21px;
    color: #fff;
    margin-bottom: 50px;
}

.section_card_text, .section_link {
    font-size: 16px;
    color: #c0c3ce;
}

.footer {
    background-color: $primarycolor;
}

.footer-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 255px;
    border: 1px solid rgb(255, 81, 0);
    max-width: 1570px;
    margin: 0 auto;
    padding: 0 15px;

}

.footer_text {
    display: block;
    width: 300px;
    font-size: 14px;
    color: #c0c3ce;
    word-wrap: break-word;
}

.footer_logo {
    p {
        font-size: 24px;
        color:$text-secondaryrycolor;   
    }
}

.footer-cr {
    font-size: 16px;
    color: $text-secondaryrycolor;
}