$contentBackground: rgb(128, 0, 122);
$background-image: url(../img/m-h-night.jpg);
$main-bg-color: #21232e;

//section-text
$text-primarycolor: #fff;

//section-card
$primarycolor: #3b3f50;

//button
$btn-color: #e3ac00;

//secondary text color
$text-secondaryrycolor: #d1d1d1;