$contentBackground: rgb(128, 0, 122);
$background-image: url(../img/m-h-day.jpg);
$main-bg-color: #fff;

//section-text
$text-primarycolor: #2c2f3c;

//section-card
$primarycolor: #21232e;

//button
$btn-color: #699900;

//secondary text color
$text-secondaryrycolor: #c0c3ce;
